body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6fa4d3; /* Light blue background */
}

.container {
    text-align: center;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#password-container {
    margin-top: 20px;
}

.animated-card {
    background: linear-gradient(to right, #ffcc00, #ff6600); /* Sunflower theme */
    border: 2px solid #ffcc00;
    border-radius: 15px;
    padding: 30px;
    display: inline-block;
    cursor: pointer;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.memory {
    margin: 10px;
}

.memory img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ffcc00;
}

.videos {
    margin-top: 20px;
}

a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}